@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.todo .dnd-item {
  @apply border border-transparent;
}

.todo .dnd-item.placeholder {
  @apply border border-blue-500 opacity-50 ring-2 ring-blue-400;
}

.todo .dnd-item:not(.ghost) {
  @apply cursor-grab shadow;
}

